body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid #0b9ed0;
    margin-bottom: 4px;
    border-radius: 7px;
}

button {
    background: #0b9ed0;
    color: white;
    padding: 10px 20px;
    border: 2px solid #0b9ed0;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 7px;
}

#delete-btn {
    background: white;
    color: #0b9ed0;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #2a2a2a;
    text-decoration: none;
}


